<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 1. aliases 설정 -->
    <servlet>
        <servlet-name>location</servlet-name>
        <servlet-class>controller.LocationDateController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>wifi</servlet-name>
        <servlet-class>controller.WifiInfoController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>load-wifi</servlet-name>
        <servlet-class>controller.LoadWifiInfoController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>

    <!-- 2. 매핑 -->
    <servlet-mapping>
        <servlet-name>location</servlet-name>
        <url-pattern>/location</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>wifi</servlet-name>
        <url-pattern>/wifi</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>load-wifi</servlet-name>
        <url-pattern>/load-wifi</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>listener.ApplicationContextListener</listener-class>
    </listener>
</web-app>